.co-loading-circle {
  width: 20rpx;
  height: 20rpx;
	margin-left: 10rpx;
  border: 4rpx solid #999;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

/* 转转转动画 */
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
