$co-color-primary: #409EFF;
$co-color-success: #67C23A;
$co-color-info: #909399;
$co-color-warning: #E6A23C;
$co-color-danger: #F56C6C;

// --el-color-success-light-5
$co-color-primary-light1: #a0cfff;
$co-color-success-light1: #b3e19d;
$co-color-info-light1: #c8c9cc;
$co-color-warning-light1: #f3d19e;
$co-color-danger-light1: #fab6b6;

// --el-color-success-light-8
$co-color-primary-light2: #d9ecff;
$co-color-success-light2: #e1f3d8;
$co-color-info-light2: #e9e9eb;
$co-color-warning-light2: #faecd8;
$co-color-danger-light2: #fde2e2;

// --el-color-success-light-9
$co-color-primary-light3: #ecf5ff;
$co-color-success-light3: #f0f9eb;
$co-color-info-light3: #f4f4f5;
$co-color-warning-light3: #fdf6ec;
$co-color-danger-light3: #fef0f0;
